<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dnasixvno/image/upload/v1545504703/bobby-rodriguezz-1043151-unsplash.jpg');">
  <div class="banner-box">
    <div class="banner-content">
      <i class="fas fa-cocktail" style="color: white;"></i>
      <h1>Spirited Away</h1>
      <h2>Think outside the glass.
        <br></br>
        Create personalised cocktail recipe lists
        <br></br>
        and share them with fellow liquor enthusiasts.</h2>
      <div class="icon-box">
         <img src="https://res.cloudinary.com/dnasixvno/image/upload/v1545561951/noun_Margarita_872924.png" class="icon">
        <img src="https://res.cloudinary.com/dnasixvno/image/upload/v1545562060/noun_Drink_872916_copy.png" class="icon">
        <img src="https://res.cloudinary.com/dnasixvno/image/upload/v1545561966/noun_drinks_1264540.png" class="icon">
      </div>
      <div class="add-cocktail-header"><%= link_to "Add yours!", new_cocktail_path, class: 'btn-add' %>
      </div>
    </div>
    </div>
  </div>


  <div class="header-container">
    <div class="header-feedback">
    <div class="feedback-box">
    <h1>Check out what our bartender friends have to say about us...</h1>
  </div>
    <div class="image-box">
      <img src="https://res.cloudinary.com/dnasixvno/image/upload/v1545510197/crew-89808-unsplash.jpg">
    </div>
    </div>
    <div class="header-text">
      <p>The bartending industry is a vast but exhilerating one. With Spirited Away, anyone can become a bartender. We like the personalised approach of the site, and how you can search recipes from others or add yourself to the conversation!</p>
      <h2>Lauren and David, <i>The Sheep's Head</i></h2>
    </div>
  </div>

  <div class="container">
    <% @cocktails.each do |cocktail| %>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="cocktail-card">
          <%= cl_image_tag cocktail.photo, height: 500, width: 350, crop: :fill, class: 'cocktail-card-pic' unless cocktail.photo.nil? %>
          <div class="card-text-box">
            <%= link_to cocktail.name, cocktail, class: 'card-text' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

