// // body {
// //  background-image: url("https://res.cloudinary.com/dnasixvno/image/upload/v1544723130/michael-discenza-199756-unsplash.jpg");
// //  background-color: #cccccc;
// //  background-repeat: none;
//     background-size: cover !important;
// // }

.banner-content h1 {
  padding: 42px;
}

.banner-content h2 {
  font-size: 20px;
}

.banner-box {
  background-color: $black;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  width: 580px;
  height: 300px;
  border-color: white;
  border-radius: 10px;
}

