// // body {
// //  background-image: url("https://res.cloudinary.com/dnasixvno/image/upload/v1544723130/michael-discenza-199756-unsplash.jpg");
// //  background-color: #cccccc;
// //  background-repeat: none;
//     background-size: cover !important;
// // }

.banner-content h1 {
  padding: 42px;
}

.banner-content h2 {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-box {
  background-color: $black;
  justify-content: center;
  opacity: 0.7;
  padding: 30px 40px 30px 40px;
  margin: 50px auto;
  border-color: white;
  border-radius: 10px;
}

.header-container {
  color: white;
  display: flex;
  padding: 80px;
  // min-height: 100vh;
  margin: 100px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #061623;
}

.header-container p h1 {
  color: white;
}

.header-container h2 {
  margin-bottom: 0;
}

.icon-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.icon {
  height: 100px;
  width: 100px;
}

.feedback-box h1 {
  font-size: 20px;
  text-align: center;
  border-bottom: solid $yellow;
  display: table-cell;
}

.header-text {
  flex-direction: column;
  color: $black;
  border-color: $yellow;
  border-style: solid;
  padding: 10px 40px 10px 40px;
  text-align: center;
}

.header-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-text h2 {
  font-size: 13px;
  color: white;
}

.header-text p {
  color: white;
}

.header-container img {
  width: 75%;
  height: 75%;
  padding: 40px;
}



