// // body {
// //  background-image: url("https://res.cloudinary.com/dnasixvno/image/upload/v1544723130/michael-discenza-199756-unsplash.jpg");
// //  background-color: #cccccc;
// //  background-repeat: none;
//     background-size: cover !important;
// // }

.banner-content h1 {
  padding: 10px;
}

.banner-content h2 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poiret One', cursive;
}

.banner-content h3 {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poiret One', cursive;
}

.border-box {
  width:calc(100% - 20px);
  height:1px;
  align-items: center;
  background: $yellow;
}

.banner-box {
  background-color: $black;
  justify-content: center;
  opacity: 0.7;
  padding: 10px 10px 10px 10px;
  margin: 20px auto;
  border-color: white;
  border-radius: 10px;
}

.header-container {
  color: white;
  display: flex;
  padding: 80px;
  // min-height: 100vh;
  margin: 100px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #061623;
}

.header-container p h1 {
  color: white;
  font-family: 'Poiret One', cursive;
}

.header-container h2 {
  margin-bottom: 0;
  font-family: 'Poiret One', cursive;
}

.icon-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
}

.icon {
  height: 100px;
  width: 100px;
}

.feedback-box h1 {
  font-size: 20px;
  text-align: center;
  border-bottom: solid $yellow;
  display: table-cell;
  font-family: 'Poiret One', cursive;
}

.header-text {
  flex-direction: column;
  color: $black;
  font-family: 'Poiret One', cursive;
  border-color: $yellow;
  border-style: solid;
  padding: 10px 40px 10px 40px;
  text-align: center;
}

.header-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-text h2 {
  font-size: 13px;
  color: white;
}

.header-text p {
  color: white;
  line-height: 1.5em;
}

.header-container img {
  width: 75%;
  height: 75%;
  padding: 40px;
}

@media (max-width: 600px) {
  .header-container img {
    width: 100%;
  }
}

.site-features {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.cocktail-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  flex: 1;
}

.cocktail-box img {
  width: 70px;
  height: 70px;
}

.cocktail-box h1 {
  font-weight: bolder;
  font-size: 25px;
}
