<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/KatharineDoyle/rails-mister-cocktail">Find the repository here <i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Katharine Doyle.
  </div>
</div>
