.index-banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  font-family: $headers-font;
  align-items: center;
  justify-content: space-evenly;
  background-position:  right 100% bottom 50%;
}

.box-and-button {
  display: flex;
  flex-direction: column;
}

.banner-title h1 {
  flex: 2;
  font-size: 100px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content h3 {
  padding: 20px;
}

.add-cocktail-header {
  margin-top: 7%;
  margin-bottom: 8%;
}
