.btn-add {
  padding: 20px 20px;
  background-color: $yellow;
  color: white;
}

.btn-add:hover {
  text-decoration: none;
  color: black;
  background-color: $green;
}

.btn-add:active {
  outline: none;
}

.btn-back {
  background-color: $green;
  color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

.btn-back:hover {
  background-color: $pink;
  color: black;
  text-decoration: none;
}

.btn-back:active {
  outline: none;
}

#show-back {
  align-text: center;
}
