.cocktail-card {
  width: 350px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 50px;
  padding: 25px 50px 75px 100px;
  align-items: center;
}

.cocktail-card a {
  color: white;
  font-family: 'Major Mono Display', monospace;
  z-index: 1;
}

.cocktail-card a:hover {
  text-decoration: none;
}

.cocktail-card:hover {
  top: -3px;
  box-shadow: 3px 4px 25px rgba(0,0,0,0.7);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
}

.cocktail-card-pic {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  z-index: -1;
  position: absolute;
  border-radius: 10px;
}

.card-text-box {
  .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  background-color: black;
  opacity: 0.7;
}
}

.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.container ul {
  list-style: none;
}
