.form-container {
  align-items: center;
  justify-content: center;
  display: block;
  background-repeat: none;
  height: 100vh;
}

.form-image {
  background-image: url("https://res.cloudinary.com/dnasixvno/image/upload/v1545907865/lightscape-748406-unsplash.jpg");
  background-size: cover;
  background-position: bottom right;
  max-width: 100%;
  height: 100vh;
}

.form-container h1 {
  color: white;
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
  border-bottom: solid $yellow;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  line-height: 1.6;
}

.form-box {
  flex: 1 auto;
  position: relative;
  display: inline-block;
  margin-top: 50px;
  margin-left: 200px;
  padding: 20px 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  background-color: $black;
  margin-left: auto;
  margin-left: auto;
  text-align: left;
  border-radius: 10px;
  opacity: 0.9;
}

.file.optional.cocktail_photo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-control {
  border: 2px solid $yellow;
  padding: 12px 20px;
  transition: 0.3s ease;
  color: $black;
  background: rgba($black, 0.1);
}

.form-content {
  padding: 2px 10px;
  color: white;
}

.form-content h1 {
  color: white !important;
}

.form-name {
  color: white;
}

.form-photo {
  color: white;
}

#form-add-btn {
  align-text: center;
  padding: 10px;
}
