.banner {
  background-size: cover !important;
  display: block;
  max-width: 100%;
  height: 140vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

.show-container {
  margin: 50px auto;
  align-items: center;
  // display: flex;
  // flex-direction: column;
}

.cocktail-details {
  padding: 2em;
  justify-content: space-around;
  // flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
  position:relative;
  display: flex;
  padding: 30px;
  flex-direction: row;
}

.cocktail-details h2 {
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Poiret One', cursive;
  color: white;
  border-bottom: solid $black;
  padding: 0px 20px 20px 20px;
}

.cocktail-details h3 {
  font-size: 15px;
  font-family: 'Poiret One', cursive;
  color: white;
  padding: 0px 20px 20px 20px;
}

.cocktail-img {
  height: 700px;
  max-width: 500px;
  object-fit: cover;
  position: relative;
}

.dose-with-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dose-form {
  flex: 1 auto;
}

.cocktail-info {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.cocktail-info h1 {
  font-family: 'Poiret One', cursive;
  color: $black;
  border-bottom: solid $yellow;
  margin-left: 3%;
  margin-right: 3%;
  font-weight: bolder;
}

.cocktail-info h4 {
  font-family: 'Poiret One', cursive;
  color: $black;
  font-size: 40px;
  border-bottom: solid $yellow;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bolder;
}

.cocktail-info h2 {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
}

.dose-info {
  background-color: $green;
  border-radius: 10px;
  padding: 20px;
  border-style: solid;
  color: white;
}

.dose-info li {
  text-align: center;
  padding: 15px;
  list-style-type: none;
}
.delete-btn:hover {
  text-decoration: none;
}

#show-back {
  width: 40%;
  margin-left: 50%;
  align-text: center;
}
