.show-container {
  margin: 50px auto;
  align-items: center;
  // display: flex;
  // flex-direction: column;
}

.cocktail-details {
  padding: 2em;
  justify-content: space-evenly;
  // flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
  position:relative;
  display: flex;
  padding: 68px;
  background-color: $black;
  flex-direction: row;
}

.cocktail-details h2 {
  color: white;
  border-bottom: solid $yellow;
  padding: 0px 20px 20px 20px;
}

.cocktail-img {
  height: 100%;
}

.cocktail-info {
  align-items: left;
}

.cocktail-info h1 {
  color: $black;
  border-bottom: solid $yellow;
  margin-left: 3%;
  margin-right: 3%;
}

.cocktail-info h2 {
  font-size: 18px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
}

.dose-info {
  border-color: $yellow;
  border-style: solid;
  color: white;
}

.dose-info li {
  padding: 15px;
}

#show-back {
  width: 40%;
  margin-left: 50%;
  align-text: center;
}




